.rounded-photo {
    display: block;
    margin: 20px auto;
    width: 240px;  /* Adjust size as needed */
    height: 240px; /* Make sure width and height are equal for a perfect circle */
    border-radius: 50%; /* Makes the image round */
    object-fit: cover;  /* Ensures the image covers the rounded area */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0); /* Optional shadow */
}


:root {
    --green: #00A388;
    --white: #ffffff;;
    --black: #000000;
  }

  [data-md-color-scheme="theme-light"] {
    --md-default-bg-color--dark: var(--black);
    --md-primary-fg-color: var(--green);
    --md-typeset-a-color: var(--black);
    --md-accent-fg-color: var(--green);
  }